@using collector_forum.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity

@model IEnumerable<ApplicationUser>


@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all users</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Joined</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.Id</td>
                <td>@user.Nickname</td>
                <td>@user.Email</td>
                <td>@user.RegistrationDate.ToString("dd.MM.yyyy")</td>
                <td class="btn btn-success">Edit</td>
                <td class="btn btn-danger">Delete</td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <hr />
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h5 style="padding: 40px 0px 0px 0px; text-align: center;">There is no accounts created yet</h5>
            <div class="col text-center">
                <a asp-controller="Home" asp-action="Index">
                    Return to main page
                </a>
            </div>
        </div>
    </div>
}