@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container body-content">
    <div class="row Statements">
        <h2 class="h22">General information</h2>
        <div>
            <p>Collectors Forum attaches great importance to respecting the privacy of its users. This document provides information on the collection, processing and use of user data.</p>
        </div>

        <h2 class="h22">Collection and processing of data</h2>
        <div>
            <p>The data can be obtained from the user indirectly by automatically saving information such as page requests and cookies when you use the site.</p>
            <p>The data can be obtained from the user directly by voluntarily placing data by the user in the registration form or another part of the website.</p>
            <p>By using the website, the user agrees to the processing of all information and personal data collected in this way in the database.</p>
        </div>

        <h2 class="h22">Use and transfer of data</h2>
        <div>
            <p>The data collected in the database are used to ensure the correct operation of the website for the user.</p>
            <p>These data will not be transferred to third parties or entities without the user's express consent, however, the website owner is not responsible for any intrusions resulting in the acquisition of this data by unauthorized persons.</p>
            <p>In the event of abuses and in other situations provided for by law, and at the request of authorized state authorities, user data may be transferred to law enforcement or other state authorities in a manner consistent with applicable regulations.</p>
        </div>

        <h2 class="h22">Data modification and deletion</h2>
        <div>
            <p>The user has the right to change the personal data collected in the database. The data may be changed or deleted by the user through the profile editing function available after logging in to the website or by contacting the Administration.</p>
            <p>The user has the right to delete his account from the database</p>
        </div>

        <h2 class="h22">Change of the privacy policy</h2>
        <div>
            <p>Collectors Forum reserves the right to change the privacy policy by publishing a new privacy policy on this subpage and posting the relevant information on the website.</p>
        </div>

        <h2 class="h22">Contact</h2>
        <div>
            <p>The administration may contact the user using the e-mail address provided by him. The User may contact the Site Administration by writing to the following e-mail address: piotrek9790@gmail.com.</p>
            <p>Any personal data collected in the course of correspondence will be used only in connection with the subject of the correspondence.</p>
        </div>
    </div>
</div>