@{
    ViewData["Title"] = "Rules";
}

<div class="container body-content">

    <div class="row Statements">
        <h2 class="h22">General assumptions</h2>
        <div>
            <p> 1. Using the Forum is free of charge. </p>

            <p> 2. The Collectors Forum allows collectors to contact and make exchanges, but the owner of the Forum is not responsible if one of the parties to the exchange fails to fulfill its obligations.</p>
        </div>
        <h3 class="h22">Personal data</h3>
        <div>
            <p>1. By registering on the Forum, the user agrees to the processing of all information and personal data provided by him, in the registration form, for the administrative and operational purposes of the Forum in the database. These data will not be transferred to third parties or entities without the user's consent, however, the owner of the Forum is not responsible for any intrusions resulting in the acquisition of this data by unauthorized persons.</p>

            <p>2. In the event of abuses and in other situations provided for by law and at the request of authorized state authorities, personal data may be transferred to law enforcement or other state authorities in a manner consistent with applicable regulations.</p>

            <p>3. At the same time, the user agrees to receive e-mail containing important information regarding the operation of the Forum.</p>

            <p>
                <strong>
                    More information on privacy and the use of cookies can be found in the
                    "<a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>".
                </strong>
            </p>
        </div>

        <h2 class="h22">Copyright</h2>
        <div>
            <p>1. The materials published on the Forum's website are subject to copyright.</p>

            <p>2. Copying, disseminating or using the materials posted on the Forum's websites in whole or in part without the prior written consent of the owner or author is prohibited.</p>
        </div>

        <h3 class="h22">Administration</h3>
        <div>
            <p>1. Administration means all Forum Administrators and Moderators.</p>

            <p>2. The administration has the right to modify and delete posts that violate the Forum Regulations or applicable law.</p>

            <p>3. The administration makes every effort to ensure that the Forum functions properly, but is not responsible for the content published by users.</p>

            <p>4. The administration reserves the right to disable the Forum without prior notice to users and without giving any reason.</p>

            <p>5. The administration has the right to make changes to the user's profile, especially if these changes are justified by ensuring the proper functioning of the Forum.</p>
        </div>

        <h3 class="h22">Registration</h3>
        <div>
            <p>1. The right to register on the Forum is available to persons over 13 years of age. This point is not retroactive.</p>

            <p>2. It is forbidden to have more than one account.</p>

            <p>3. The account may be deleted if the user remains inactive on the account for more than 7 days.</p>
        </div>

        <h3 class="h22">Content of the statement</h3>
        <div>
            1. Forum posts may not contain content that violates applicable law, in particular:
            <ul>
                <li>
                    vulgar and offensive words;
                </li>
                <li>
                    presenting or promoting racism, fascism, communism, violence or pornography;
                </li>
                <li>
                    false information, intended to adversely dispose of other people's property;
                </li>
                <li>
                    links to illegally distributed copyrighted content.
                </li>
            </ul>
            <p>2. The forum user should take care of the correctness of the language. It is unacceptable to write with numerous linguistic and spelling errors and without punctuation, which hinder or prevent correct understanding.</p>
            3. It is forbidden to:
            <ul>
                <li>using only capital letters in the body or subject of the post</li>
                <li>writing long strings of characters (no spaces). The maximum length of such a string is 50 characters</li>
            </ul>
            <p>4. Do not reply to posts that violate the Forum Regulations.</p>
            <p>5. It is forbidden to place reference addresses (reflinks) on the Forum and other entries encouraging help, e.g. online games. This prohibition does not apply to links directly related to collecting or charitable activities.</p>
        </div>

        <h3 class="h22">Themes</h3>
        <div>
            <p>1. It is strictly forbidden to post purchase and sale offers, in particular ads from auctions and commercial websites.</p>
            <p>2. Placing offers to exchange animals and functional weapons, ammunition, explosives and hazardous substances is prohibited.</p>
        </div>
        
        <h3 class="h22">Final Provisions</h3>
        <div>
            <p>1. Issues not included in the rules will be considered individually by the Administrators.</p>
            <p>2. The rules are subject to change at any time. A user who does not know the updated rules is not exempt from obeying them.</p>
        </div>
    </div>
</div>