@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<section>
    <form id="account" method="post">
        <h4>Enter your details below to continue</h4>
        <br />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" id="log" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger text-center"></span>
            <div class="email-icon">
                <i class="fas fa-envelope"></i>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" id="log" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger text-center"></span>
            @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
            <div id="password-icon">
                <i class="fas fa-lock"></i>
            </div>
            <div class="checkbox" id="remember">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
            
        <button id="logbutt" type="submit" class="btn btn-primary">Log in</button>
        <div class="row">
            <div id="toregister">
                <a>Don't have an account?</a>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up here!</a>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
