@model collector_forum.Data.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading noBorder">
            Edit post | @Model.Category.Title
            <div class="forumLogo" style="background-image: url(@Model.Category.ImageUrl);"></div>
            <span id="headingBtn">
                <a  asp-action="Manage"class="btn btn-back">
                    Back to Management
                </a>
            </span>
        </div>
    </div>
    <div class="row createPost">
        <div class="createPostSection">
            <div class="authorBlock">
                You're editing this post as <strong>@Model.User.UserName</strong>
            </div>
            <form asp-action="Edit" method="post" id="addPostForm">

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Created" />

                @if (User.IsInRole("Admin") || User.IsInRole("Mod"))
                {
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Title" />
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" disabled />
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                </div>
                <button type="submit" id="submitPostBtn" class="btn btn-submitPost">
                    Update Post
                </button>
            </form>
        </div>
    </div>
</div>