@using Microsoft.AspNetCore.Identity
@using collector_forum.Data.Models

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"> @*bootstrap*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> @*Material Design Icons*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <div class="container">
                <a class="navbar-brand navLogo" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Forum" asp-action="Index">Categories</a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Settings
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li role="separator" class="dropdown-divider"></li>
                                    <li class="dropdown-header">Profile</li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Profile" asp-action="Detail" asp-route-id="@userManager.GetUserId(User)">My Profile</a>
                                    </li>
                                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                    {
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li class="dropdown-header">Admin</li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Forum" asp-action="Create">Create Category</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="CreateRole">Create Role</a>
                                        </li>
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">View Users</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="ListRoles">View Roles</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <partial name="_LoginPartial.cshtml" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top border-dark footer">
        <div class="container">
            &copy; 2021 - Collectors Forum
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/49aea9998e.js" crossorigin="anonymous"></script> @*font awesome*@
    @RenderSection("Scripts", required: false)
</body>
</html>
