/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.navLogo {
    background-image: url("/images/app-logo.png");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 50px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: 10px;
}

.navbar li {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto';
}

.navbar button {
    font-size: 20px;
}


/* PIC HOMEPAGE */
.frontPageImg {
    background-image: url("../images/theme/front-splash.png");
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

/* - - - - - -  */


.settings {
    background-color: rgba(52,58,64,0.9);
    padding: 15px;
    color: white !important;
    margin-top: 15px;
}

#delete {
    position: absolute;
    margin-top: -54px;
    margin-left: 120px;
}

.frontPageLearn {
    font-family: 'Roboto';
    padding: 20px 20px 0px 0px;
    height: 300px;
}

.heading {
    color: black;
    mask-image: none;
    -webkit-mask-image: none;
    opacity: 1;
}

.sectionHeader {
    background-color: rgba(0,0,0,0.5);
    padding: 10px 25px 25px 25px;
    font-size: 30px;
    margin-top: 15px;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
    width: 100%;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

.sectionDescription {
    color: #eee;
    width: 100%;
    font-size: 0.8em;
}

.hasRecentPost {
    padding: 2px;
    background-color: #fe552f;
    color: #fff;
    text-align: center;
}

.frontPageHeading {
    font-size: 3.2em;
    margin: 16px 0;
}

.frontPageSubHeading {
    font-size: 20px;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'Roboto';
}

.frontPageContent {
    background-color: rgba(52,58,64,0.9);
    padding: 15px;
}

.Statements {
    background-color: rgba(52,58,64,0.9);
    padding: 20px;
    color: #c8c8c8;
    text-align: justify;
    margin-top: 15px;
}

.h22 {
    color: white;
}





#searchIndexTable {
    padding: 15px;
}


.categories {
    background-color: rgba(52,58,64,0.9);
    padding: 15px;
    margin-top: 20px;
}

.forumLogo {
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    height: 45px;
    width: 45px;
    background-color: #ddd;
    border: 1px solid #555;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.categoryPostCount {
    color: #999;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
    width: 100px;
}

.categoryMemberCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.categorySubTitle {
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.categoryDescription {
    color: white;
    font-family: 'Roboto';
}


#categoryIndexTable {
    color: #cccc;
    margin-top: 15px !important;
}

    #categoryIndexTable tr:hover {
        color: #cccc;
    }

.categoriesIndexContent {
    background-color: rgba(52,58,64,0.9);
    padding: 15px;
    margin-top: 20px;
}

#categoryIndexContent {
    padding: 15px;
    background-color: rgba(52,58,64,0.9);
    margin-top: 15px;
}


.categoryData {
    display: inline-block;
}

.categoryTitle {
    /*font-family: 'Roboto';*/
    font-weight: 600;
    font-size: 1em;
}

.headersTable {
    font-size: 1.8em;
    font-weight: bold;
    color: rgba(100,110,203, 1);
    margin: 10px 10px 10px 10px !important;
}


#toreg {
    color: yellowgreen;
    font-weight: bold;
}

/* POST PAGE */

.noPosts {
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-family: 'Roboto Mono';
    text-shadow: 2px 2px 3px rgba(52,58,64,0.9);
}

#addPostForm {
    font-family: 'Roboto';
    font-size: 1.2em;
    width: 100%;
    color: white !important;
}

.createPostSection {
    padding: 24px;
    background-color: rgba(52,58,64,0.9);
    width: 100%;
}

.createPost
{
    margin-top: 15px;
}

#createCategorySection {
    width: 100% !important;
    background-color: rgba(52,58,64,0.9);
    padding: 15px 25px 25px 25px;
    color: white !important;
    margin-top: 15px;
}

.postTitle {
    font-weight: bold;
    color: #999 !important;
}

.postSubTitle {
    color: #999;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postData {
    display: inline-block;
}

.postDate {
    color: #999;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.postAuthor {
    font-family: 'Roboto Mono';
}

.postLogo {
    display: inline-block;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    background-color: #ddd;
    border: 1px solid #555;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.postAuthorContainer {
    padding: 12px;
    color: #ddd;
    font-family: 'Roboto';
    font-size: 16px;
    width: 190px;
}

.postIndexTitle {
    font-size: 1.4em;
    padding: 5px;
}

.postContentContainer {
    font-family: 'Roboto';
    color: #c8c8c8;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.postAuthorRating {
    font-size: 0.8em;
    color: #ddd;
    font-family: 'Roboto Mono';
}

#postIndexContent {
    background-color: rgba(52,58,64,0.9);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.3);
    margin: 10px 0 0 0;
}

.postHeader {
    background-color: rgba(52,58,64,0.5);
    padding: 20px 20px 20px 20px;
    color: white;
    margin-top: 15px;
}

.postHeading {
    width: 100%;
}

#headingBtn {
    float: right;
}


/* REPLIES */

.replyBg {
    width: 100%;
    background-color: rgba(52,58,64,0.9) !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.3);
}

#createReply {
    width: 100%;
}

.replyContent {
    background-color: rgba(52,58,64,1);
    width: inherit;
    margin-top: 10px;
}

#postReplyRow {
    margin-top: 10px;
    background-color: rgba(52,58,64,0.5);
    padding: 10px;
}

.row {
    margin-right: auto !important;
    margin-left: auto !important;
}

.replyContentContainer {
    color: #c8c8c8;
    padding: 15px;
}

.replyAuthorContainer {
    color: #c8c8c8;
    padding: 15px;
}




.replyBg {
    background-color: rgba(52,58,64,0.9);
    padding: 15px;
    margin-top: 10px;
}

    .replyBg h3 {
        color: #999;
    }

    .replyBg p {
        color: #eee;
    }

.authorBlock {
    color: #00897b;
    margin-bottom: 15px;
    border: 1px dashed #1861ac;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

#replyLabel {
    color: #00cc43;
    font-weight: 500;
    font-family: 'Roboto';
}

.newPost {
    background-color: rgba(52,58,64,0.9);
    color: #eee;
    padding: 15px;
    font-weight: 400 !important;
    margin-top: 15px;
}

    .newPost h1 {
        color: #00897b;
    }





/* LINKS */
.link {
    color: white !important;
}


/* CUSTOM BUTTONS */
.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border: solid 1px #1861ac;
}

    .btn-back:hover {
        background-color: #5C6BC0 !important;
        transition: ease-in 0.1s;
    }

.btn-newReply {
    background-color: #00695c !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border: solid 1px #00897b;
}

    .btn-newReply:hover {
        background-color: #00897b !important;
        color: white !important;
        transition: ease-in 0.1s;
        border: solid 1px #00695c;
    }


.btn-editPost {
    background-color: #b07600 !important;
    color: black !important;
    transition: ease-in 0.1s;
    border: solid 1px #bf9800;
    float: right;
}

    .btn-editPost:hover {
        background-color: #bf9800 !important;
        color: black !important;
        transition: ease-in 0.1s;
        border: solid 1px #b07600;
    }



.btn-newPost {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border: solid 1px #1861ac;
}

    .btn-newPost:hover {
        background-color: #5C6BC0 !important;
        transition: ease-in 0.1s;
    }

.btn-submitPost {
    background-color: #00695c !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border: solid 1px #00897b;
}

    .btn-submitPost:hover {
        transition: ease-in 0.1s;
        background-color: #00897b !important;
        color: #fff !important;
    }

.btn-forumSearch {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    font-size: 30px;
    color: black;
    vertical-align: central;
}

    .btn-forumSearch:hover {
        transition: ease-in 0.1s;
    }

/* - - - - - - - - - - - - -*/

/* TOPIC PAGE */

.searchBar {
    padding: 3px 5px 2px 12px;
    margin: 8px;
    font-size: 40px;
    background-color: #333;
    width: 18%;
    transition: ease .3s;
    border: none;
}

    .searchBar:focus {
        width: 60%;
        color: #757575;
        background-color: #333;
    }

/* - - - - - - */


/* USER PROFILE */

.profileHead {
    text-align: center;
}

.userProfile {
    padding: 30px 0 64px 24px;
    background-color: rgba(52,58,64,0.9);
    margin-top: 15px;
}

#userEmailLabel, #userBioLabel, #userCreatedLabel, #userRating, #userActiveLabel {
    display: block;
    color: white;
    font-family: 'Roboto';
    padding-top: 3px;
    font-size: 20px;
    text-align: center;
}

#userItems {
    display: block;
    color: #bf9800;
    font-family: 'Roboto';
    padding-top: 3px;
    font-size: 20px;
    text-align: center;
}

#userName {
    color: #698bfb;
    font-family: 'Roboto';
    font-size: 24px;
}

/* - - - - - - */


.userName {
    font-family: 'Roboto';
    font-size: 20px;
}


.cRoleHeader {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(52,58,64,0.9);
    color: #c8c8c8 !important;
}

.homeSearch {
    width: 100%;
    background: rgba(85,85,85,0.7);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    margin-top: 8px;
    font-size: 2.1em;
    font-family: 'Roboto Mono';
    font-weight: bold;
    transition: ease-in 0.2s;
}

    .homeSearch:focus {
        border: none !important;
        outline: none !important;
        transition: ease-in 0.2s;
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 5px 4px -6px #000;
    }

    .homeSearch::-webkit-input-placeholder {
        color: #cccc;
    }


/* Provide sufficient contrast against white background */
a {
    color: #ddd;
}

    a:hover {
        color: #ddd;
    }


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #343a40;
}

.border-bottom {
    border-bottom: 1px solid #343a40;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    color: white;
    background-color: rgba(255,255,255,0.1);
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #eee;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

    body:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100%;
        height: 100%;
        width: 100%;
        background-image: url("/images/theme/bg-01.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
        z-index: -2;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

    .footer .container {
        font-weight: 600;
    }

.card-content {
    padding: 20px;
}

.card {
    margin-top: 25px;
    background-color: rgba(52,58,64,0.8);
    color: white;
}

#manage {
    padding-top: 8.5px;
}

.logout {
    font-family: 'Roboto';
}


/* TABLES */

.Lists {
    background-color: rgba(52,58,64,0.9);
    padding: 15px;
    margin-top: 20px;
    color: #c8c8c8 !important;
}

.rolesList {
    margin-top: 20px;
    color: white;
}

.usersList {
    margin-top: 20px;
    color: white;
}

.createRole {
    margin-top: 20px;
}

#latestPostsTable {
    margin-top: 15px;
}


/* SOME SHIET*/
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: white;
}

.isAdmin {
    display: inline-block;
    color: black !important;
    margin-left: 5px;
    padding: 3px;
    background-color: #fff044;
    font-family: 'Roboto Mono';
}

.isMod {
    display: inline-block;
    color: black !important;
    margin-left: 5px;
    padding: 3px;
    background-color: #00897b;
}

.smaller {
    font-size: 0.8em !important;
}


#tologin {
    float: right;
    margin: 20px 20px 0px 0px;
}

#toregister {
    align-items: center;
    margin: auto;
    padding: 20px 20px 5px 20px;
}

#remember {
    float: right;
    padding: 5px 40px 0px 0px;
}

#regbutt {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#logbutt {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

.text-center {
    padding: 0px 20px 10px 20px;
}


#regerror {
    text-align: justify;
    justify-items: center;
}

/* Pola w formularzach - pewnie do zmiany */

.form-group .err {
    padding-left: 20px;
}



#log {
    border: unset;
    border-bottom: 1px solid #fff;
    border-radius: unset;
    background-color: inherit;
    color: white !important;
    display: block;
    padding: 5px 0px 5px 5px;
    margin: auto;
    width: 80%;
}

#reg {
    border: unset;
    border-bottom: 1px solid #fff;
    border-radius: unset;
    background-color: inherit;
    color: inherit;
    display: block;
    padding: 5px 0px 5px 5px;
    margin: auto;
    width: 80%;
}
